#voiceapp {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50vh;
	justify-content: space-around;
	align-items: center;
}

#call_menu, #call_control {
	display: flex;
	width: 55%;
	justify-content: space-around;
}

body, #call_dial, .call_btn, #call_control {
	font-family: FreeMono, monospace;
	font-size: xx-large;
	background: #262626;
	color: white;
}

#call_control {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 30%;
	height: 15vh;
}

#call_dial, .call_btn {
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px;
}

.call_btn {
	cursor: pointer;
}

#call_ctrl {
	background-color: #262626;
	border: 2px solid white;
	border-radius: 5px;
}


/* Chrome, Safari, Opera */
#call_ctrl:not(*:root) {
	border: 0px;
}


/* Media queries */
@media (max-width: 1160px) {
	#call_menu, #call_control {
                width: 60%;
        }

	#voiceapp {
		height: 70vh;
	}

	#call_menu {
		flex-direction: column;
	}
}

@media (max-width: 600px) {
	body, #call_dial, .call_btn, #call_control {
        	font-size: x-large;
	}
}

@media (max-width: 480px) {
        body, #call_dial, .call_btn, #call_control {
                font-size: large;
        }
}

